*{
	font-family:Arial;
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 17px;
	background-color: #f1f1f1;
}
main{
	padding: 0px 50px 50px 25px;
}

.nav-design{
	background-color:#ff8a00;
	opacity: 0.8;

}
.logo{
	margin-left: 20px;
	margin-top: 15px;
	border-radius: 50%;
	height:100px;
	width: 100px;

}
a:hover{
	text-decoration: underline;
	color: #039415;
}
a{
	color: white;
	font-size: 20px;
}
.sidenav-trig{
	margin-top: -10px;
	color: white;
}
.opacity-userview{
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;       
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	width:100%;
	opacity: 0.8;
}
.login-background{
	background-image: url("../assets/bg.png");
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;       
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	width:100%; 

}

.card-login{
	position: center;
	margin-right:20px;
	margin-top:10px;
	height: 100%
	width:50%;
	padding-bottom:150px;
}

.image-position{
	position: relative;
}
.tab-position{
	margin-top: 60px;
	background-color:#ff8a00;
}
.active-link{
	background-color: #039415;
}
.radio{
	margin-top: 50px;
}
.sel{
	margin-bottom: 10px;
}





